<header class="header-section">
  <div class="title1">
    【主功能表】
  </div>
  <div class="title2">
    批批踢實業坊
  </div>
  <div class="title3">
    看板《???》
  </div>
</header>
<div class="container">
 
  <%= link_to "新增看板", new_board_path, class: "abc", id: "xyz" %>
  <ul>
    <% @boards.each do |board| %>
      <li>
        <%= link_to board.title, board_path(board) %>
        <%= link_to "edit", edit_board_path(board) %>
        <%= link_to "delete", board_path(board), method: "delete", data: { confirm: "確認刪除?" } %>
        <%= link_to "hide", hide_board_path(board), method: "put" %>
      </li>
    
    <% end %>
  </ul>
  <%= paginate @boards %>
</div>
<div id="board">
  <Board></Board>
</div>
<h1>看板</h1>
<div id="app">
  <App></App>
</div>
